# Fichiers générés par Godot à ignorer
.godot/
export_presets.cfg
*.translation

# --- SECRETS ---
# Ne jamais envoyer ces fichiers sur le dépôt Git !

# Configuration d'environnement du serveur
server/.env

# Fichier de secrets pour le développement local du client
secrets.cfg